@model LoginModel

@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <h3 class="text-center">Login</h3>
        <hr />
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-6 col-sm-6">
        <div class="card shadow-lg">
            <div class="card-body">
                <form class="row g-3 mt-4" autocomplete="off" method="post">
                    <div class="col-md-12">
                        <label for="email" class="form-label" asp-for="Email">Email</label>
                        <input type="email" class="form-control" id="email" asp-for="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label for="password" class="form-label" asp-for="Password">Password</label>
                        <input type="password" class="form-control" id="password" asp-for="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="isrememberme" asp-for="IsRememberMe">
                            <label class="form-check-label" for="isrememberme" asp-for="IsRememberMe">
                                Remember me
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 text-center mt-3">
                        <button type="submit" class="btn btn-sm btn-outline-success" style="width: 160px">
                            <i class="fa-solid fa-arrow-right-to-bracket"></i> &nbsp;
                            Sign In
                        </button>
                        <p class="mt-2">
                            If you do not have an account, then
                            <a asp-controller="Account" asp-action="EmployeeRegister" class="text-primary">Register</a>.
                        </p>
                    </div>
                    <div asp-validation-summary="All" class="text-danger mt-3"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Notifaction Message -->
@if (TempData["EmployeeRegistrationNotifaction"] != null)
{
    @section Scripts
    {
        <script>
            $(function () {
            toastr.success('@TempData["EmployeeRegistrationNotifaction"]', "Success");
            });
        </script>
    }
}
